:root {
  --cor-principal: #3c59e7;
  --cor-claro: #eaeaea;
  --cor-escuro: #232323;
  --prenchimento-pq: 0.5rem 1rem;
  --preenchimento-md: 2rem;
  --preenchimento-gd: 3rem;
}

header {
  background-color: var(--cor-escuro);
  color: var(--cor-claro);
  padding: var(--prenchimento-pq);
}

section {
  background-color: var(--cor-claro);
  padding: var(--preenchimento-md);
}

div {
  background-color: var(--cor-principal);
  color: var(--cor-claro);
  padding: var(--preenchimento-pq);
}

.red-box {
  --cor-principal: #f64348;
}